[Unit]
Description=xlxd
Requires=network.target
After=systemd-user-session.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/xlxd CHANGE_ME any any local
Restart=always

[Install]
WantedBy=multi-user.target
